[Desktop Entry]
Version=1.0
Name=OmegaCoin Core
Comment=OmegaCoin P2P Cryptocurrency
Comment[de]=Verbinde mit dem OmegaCoin peer-to-peer Netzwerk
Comment[fr]=OmegaCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=OmegaCoin, eşten eşe kriptografik sanal para birimi
Exec=omega-qt %u
Terminal=false
Type=Application
Icon=omega128
MimeType=x-scheme-handler/omega;
Categories=Office;Finance;P2P;Network;Qt;
StartupWMClass=OmegaCoin-Qt
