[Desktop Entry]
Encoding=UTF-8
Name=Super7Coin
Comment=Super7Coin P2P Cryptocurrency
Comment[fr]=Super7Coin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Super7Coin, eşten eşe kriptografik sanal para birimi
Exec=super7coin-qt %u
Terminal=false
Type=Application
Icon=super7coin128
MimeType=x-scheme-handler/super7coin;
Categories=Office;Finance;
